.version.bio /* version checker */
{
	color: #0000EE;
	background-color: #CBA826;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 632px;
	min-height: 476px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 22px 173px 2px 155px;
}

#slideshowu315
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-top: 47px;
	position: relative;
}

#u334
{
	position: absolute;
	background-color: transparent;
}

#u334popup
{
	z-index: 3;
}

#u335
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u337
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u339
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u348-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 177px;
	top: -47px;
	margin-bottom: -40px;
	position: relative;
}

#u349-4
{
	z-index: 14;
	width: 484px;
	min-height: 67px;
	-pie-box-shadow: none;
	box-shadow: 14px 14px 36px rgba(0,0,0,0.15);
	background-color: #F1F4F1;
	background-color: rgba(211,219,209,0.3);
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 100px;
	margin-top: 491px;
	position: relative;
	-pie-background: rgba(211,219,209,0.3);
}

#menuu351
{
	z-index: 18;
	width: 613px;
	padding-bottom: 18px;
	margin-left: 19px;
	margin-top: 25px;
}

#u359
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 9px;
}

#u360
{
	width: 145px;
}

#u360:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u360:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u363-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360:hover #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u360:active #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u352
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 234px;
}

#u353
{
	width: 145px;
}

#u360.MuseMenuActive,#u353:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u353:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u355-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360.MuseMenuActive #u363-4,#u353:hover #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u353:active #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u366
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 459px;
}

#u369
{
	width: 145px;
}

#u353.MuseMenuActive,#u369:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u372-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u353.MuseMenuActive #u355-4,#u369:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369.MuseMenuActive #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

