.version.contact /* version checker */
{
	color: #0000ED;
	background-color: #095D6F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 632px;
	min-height: 470px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 28px 173px 2px 155px;
}

#u481
{
	z-index: 6;
	width: 236px;
	background-color: #7CAEC9;
	border-radius: 8px 8px 0px 0px ;
	margin-left: 207px;
	position: relative;
}

#u480
{
	z-index: 26;
	width: 263px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 15px rgba(0,0,0,0.295);
	background-color: #93B9D2;
	background-color: rgba(72,138,179,0.59);
	border-radius: 8px 8px 0px 0px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -11px;
	left: -13px;
	-pie-background: rgba(72,138,179,0.59);
}

#u482-4
{
	z-index: 27;
	width: 185px;
	min-height: 18px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 39px;
}

#u478
{
	z-index: 31;
	width: 558px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 15px rgba(0,0,0,0.295);
	background-color: #93B9D2;
	background-color: rgba(72,138,179,0.59);
	border-radius: 8px;
	padding-bottom: 8px;
	margin-left: 46px;
	position: relative;
	-pie-background: rgba(72,138,179,0.59);
}

#u479
{
	z-index: 32;
	width: 540px;
	background-color: #7CAEC9;
	border-radius: 8px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u483-5
{
	z-index: 33;
	width: 481px;
	min-height: 29px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: Open Sans Light;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 30px;
}

#u483
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#slideshowu387
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	top: -46px;
	position: relative;
}

#u406
{
	position: absolute;
	background-color: transparent;
}

#u406popup
{
	z-index: 3;
}

#u407
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu351
{
	z-index: 7;
	width: 613px;
	padding-bottom: 18px;
	margin-left: 19px;
	margin-top: 348px;
}

#u359
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 9px;
}

#u360
{
	width: 145px;
}

#u360:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u360:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u363-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360:hover #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u360:active #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u352
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 234px;
}

#u353
{
	width: 145px;
}

#u360.MuseMenuActive,#u353:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u353:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u355-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360.MuseMenuActive #u363-4,#u353:hover #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u353:active #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u366
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 459px;
}

#u369
{
	width: 145px;
}

#u353.MuseMenuActive,#u369:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u372-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u353.MuseMenuActive #u355-4,#u369:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369.MuseMenuActive #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

