.version.contact /* version checker */
{
	color: #00001A;
	background-color: #0B11F6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 498px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

#u420
{
	z-index: 25;
	width: 453px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 254px;
}

#u423
{
	z-index: 26;
	width: 453px;
	border-color: #000000;
	background-color: #AFD0E2;
	background-color: rgba(136,186,213,0.67);
	border-radius: 0px 0px 10px 10px ;
	padding-bottom: 359px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(136,186,213,0.67);
}

#u421
{
	z-index: 27;
	width: 453px;
	border-color: #000000;
	background-color: #B2D2E4;
	background-color: rgba(136,186,213,0.64);
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -25px;
	-pie-background: rgba(136,186,213,0.64);
}

#u422-4
{
	z-index: 85;
	width: 454px;
	min-height: 40px;
	background-color: #88BAD5;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: -1px;
}

#widgetu424
{
	z-index: 28;
	width: 0.01px;
	height: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#widgetu437
{
	z-index: 29;
	width: 395px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#widgetu437.fld-err-st
{
	background-color: transparent;
	border-radius: 6px;
	width: 395px;
	height: 60px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u438-4
{
	z-index: 30;
	width: 393px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u439-4
{
	z-index: 34;
	width: 381px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 8px;
	padding: 6px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#widgetu437.non-empty-st #u439-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#widgetu437:hover #u439-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 16px -10000px 0px 0px;
}

#widgetu437.focus-st #u439-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 16px -10000px 0px 0px;
}

#widgetu437.fld-err-st #u439-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 16px -10000px 0px 0px;
}

#widgetu437.non-empty-st #u439-4 *
{
	color: #4F4F4F;
}

#widgetu437:hover #u439-4 *
{
	color: #4F4F4F;
}

#widgetu437.focus-st #u439-4 *
{
	color: #4F4F4F;
}

#widgetu430
{
	z-index: 38;
	width: 395px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 28px;
}

#widgetu430.fld-err-st
{
	background-color: transparent;
	border-radius: 6px;
	width: 395px;
	height: 62px;
	min-height: 0px;
	margin: 69px -10000px 0px 0px;
}

#u433-4
{
	z-index: 39;
	width: 393px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu430.fld-err-st #u433-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 393px;
	margin: 0px -10000px 0px 0px;
}

#u431-4
{
	z-index: 43;
	width: 381px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 8px;
	padding: 6px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu430.non-empty-st #u431-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#widgetu430:hover #u431-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 19px -10000px 0px 0px;
}

#widgetu430.focus-st #u431-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 19px -10000px 0px 0px;
}

#widgetu430.fld-err-st #u431-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 30px;
	width: 381px;
	margin: 19px -10000px 0px 0px;
}

#widgetu430.non-empty-st #u431-4 *
{
	color: #4F4F4F;
}

#widgetu430:hover #u431-4 *
{
	color: #4F4F4F;
}

#widgetu430.focus-st #u431-4 *
{
	color: #4F4F4F;
}

#widgetu437_input,#widgetu437_prompt,#widgetu430_input,#widgetu430_prompt
{
	width: 381px;
	min-height: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding: 6px;
}

#u434-4
{
	z-index: 47;
	width: 453px;
	min-height: 33px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	text-align: center;
	color: #38C3E4;
	line-height: 30px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
}

#widgetu424.frm-sub-st #u434-4 p
{
	color: #38C3E4;
	font-size: 20px;
	text-align: left;
	line-height: 1.2;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 0px;
}

#u429-4
{
	z-index: 51;
	width: 453px;
	min-height: 36px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	color: #FF0000;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
}

#widgetu424.frm-subm-err-st #u429-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 40px;
}

#widgetu424.frm-subm-err-st #u429-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u436-4
{
	z-index: 55;
	width: 453px;
	min-height: 33px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	color: #38C3E4;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
}

#widgetu424.frm-sub-st #u434-4,#widgetu424.frm-subm-ok-st #u436-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 37px;
}

#widgetu424.frm-subm-ok-st #u436-4 p
{
	color: #38C3E4;
	font-size: 14px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u435-17
{
	z-index: 59;
	min-height: 43px;
	width: 393px;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: 29px;
	background: url("../images/u435-17.png") no-repeat 0px 0px;
}

#u435-17:hover
{
	background: url("../images/u435-17-r.png") no-repeat 0px 0px;
}

#u435-17:active
{
	background: url("../images/u435-17-m.png") no-repeat 0px 0px;
}

#widgetu424.frm-sub-st #u435-17
{
	background: url("../images/u435-17-fs.png") no-repeat 0px 0px;
}

#widgetu425
{
	z-index: 76;
	width: 396px;
	height: 128px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 27px;
}

#widgetu425.fld-err-st
{
	background-color: transparent;
	border-radius: 6px;
	width: 396px;
	height: 128px;
	min-height: 0px;
	margin: 140px -10000px 0px 0px;
}

#u426-4
{
	z-index: 77;
	width: 393px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu437.fld-err-st #u438-4,#widgetu425.fld-err-st #u426-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 393px;
	margin: 0px -10000px 0px 0px;
}

#u427-4
{
	z-index: 81;
	width: 382px;
	min-height: 98px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	border-radius: 8px;
	padding: 6px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#widgetu425.non-empty-st #u427-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#widgetu425:hover #u427-4
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 98px;
	width: 382px;
	margin: 16px -10000px 0px 0px;
}

#widgetu425.focus-st #u427-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 98px;
	width: 382px;
	margin: 16px -10000px 0px 0px;
}

#widgetu425.fld-err-st #u427-4
{
	border-color: #DE6530;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 98px;
	width: 382px;
	margin: 16px -10000px 0px 0px;
}

#widgetu425.non-empty-st #u427-4 *
{
	color: #4F4F4F;
}

#widgetu425:hover #u427-4 *
{
	color: #4F4F4F;
}

#widgetu425.focus-st #u427-4 *
{
	color: #4F4F4F;
}

#widgetu437.fld-err-st #u438-4 p,#widgetu437.fld-err-st #u438-4 span,#widgetu437.fld-err-st #u439-4 *,#widgetu430.fld-err-st #u433-4 p,#widgetu430.fld-err-st #u433-4 span,#widgetu430.fld-err-st #u431-4 *,#widgetu425.fld-err-st #u426-4 p,#widgetu425.fld-err-st #u426-4 span,#widgetu425.fld-err-st #u427-4 *
{
	color: #D7244C;
}

#widgetu425_input,#widgetu425_prompt
{
	width: 382px;
	min-height: 98px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding: 6px;
}

#widgetu437.focus-st #widgetu437_prompt,#widgetu430.focus-st #widgetu430_prompt,#widgetu425.focus-st #widgetu425_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu437:hover #widgetu437_input,#widgetu437.focus-st #widgetu437_input,#widgetu437.fld-err-st #widgetu437_input,#widgetu437:hover #widgetu437_prompt,#widgetu437.fld-err-st #widgetu437_prompt,#widgetu430:hover #widgetu430_input,#widgetu430.focus-st #widgetu430_input,#widgetu430.fld-err-st #widgetu430_input,#widgetu430:hover #widgetu430_prompt,#widgetu430.fld-err-st #widgetu430_prompt,#widgetu425:hover #widgetu425_input,#widgetu425.focus-st #widgetu425_input,#widgetu425.fld-err-st #widgetu425_input,#widgetu425:hover #widgetu425_prompt,#widgetu425.fld-err-st #widgetu425_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u438-2,#widgetu437.non-empty-st #widgetu437_prompt,#u433-2,#widgetu430.non-empty-st #widgetu430_prompt,#u426-2,#widgetu425.non-empty-st #widgetu425_prompt
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#slideshowu387
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 155px;
}

#u406
{
	position: absolute;
	background-color: transparent;
}

#u406popup
{
	z-index: 3;
}

#u407
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu351
{
	z-index: 6;
	width: 613px;
	padding-bottom: 18px;
	margin-right: -10000px;
	margin-top: 620px;
	left: 174px;
}

#u359
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 9px;
}

#u360
{
	width: 145px;
}

#u360:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u360:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u363-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360:hover #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u360:active #u363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u352
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 234px;
}

#u353
{
	width: 145px;
}

#u360.MuseMenuActive,#u353:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u353:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u355-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u360.MuseMenuActive #u363-4,#u353:hover #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u353:active #u355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u366
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 459px;
}

#u369
{
	width: 145px;
}

#u353.MuseMenuActive,#u369:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u369.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u372-4
{
	width: 145px;
	min-height: 17px;
	margin-right: -10000px;
}

#u353.MuseMenuActive #u355-4,#u369:hover #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369:active #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

#u369.MuseMenuActive #u372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 145px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -69px;
}

